
/* For big tabled to 1200px */
@media only screen and (max-width: 1200px) {

}


/* For small tabled to big tablets from 767 to 1023px */
@media only screen and (max-width: 1023px) {

}


/* For small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px) {

    .top { width: 66%; }

    .left-column {

        float: left;
        width: 35%;
        margin-left: 12%;    
    }
    
    .right-column {
        margin-left: 6px;
        float: right;
        width: 35%;
        margin-right: 12%;
    }

    .circle { width: 77%; }

    .line { width: 65%; }
}


/* For small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
  
}